/* For Desktop */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

/* Javascript Stlyes*/
#clock{
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 48px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

#Icon{
    padding: 0.1%;
    height: 0.1%;
    text-align: center;
}

#greeting{
    text-align: center;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

form
{
    width: 95%;
    margin: auto;
}

fieldset
{
    padding: 2%;
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formRow
{
    padding: 1%;
}

legend
{
    background-color: peachpuff;
    color: #414141;
    font-size: 120%;
    font-weight: bolder;
    padding: 1.5%;
    padding-left: 10%;
    margin-bottom: 10px;
    width: 90%;
}

label
{
    padding-right: 1%;
    font-size: 92%;
}

.formRow input
{
    width: 90%;
    height: 30px;
    display: block;
}

#ActivitySelector
{
    padding: 1%;
}

#destination-selector
{
    width: 65%;
    height: 30px;
}

#viewAct
{
    width: 25%;
    height: 30px;
}

#actList
{
    padding-top: 1%;
    font-size: 92%;
    width: 90%;
}

#buttons
{
    padding-left: 3%;
    padding-bottom: 15%;
  
}

#submit, #clear
{
    margin-bottom: 1%;
    margin-right: 2%;
    width: 20%;
    height: 45px;
    background-color: lightgray;
}

#validation
{
    padding-left: 3.2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HTML Styles */
#pagecontainer{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 6.5rem;
}

.header {
    background-color: #add8e6;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.bar {
    padding: 10px;
    background-color: lightgrey;
}

.nav {
    position: relative;
    padding-left: 40%;
}

.navigation a {
    color: black;
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: transform .3s ease-out;
}

.navigation a:hover {
    color: orange;
    transform: translateY(-5px);
}

#travel_packages {
    text-align: left;
    margin-left: 15px;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

p.packages {
    text-align: left;
    margin-left: 15px;
    color: black;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

p.og_price {
    color: gray;
    margin-left: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.diff_price {
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.savings {
    color: green;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.copyright {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding-bottom: 10px;
}

p.mega {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.email {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

div.logo {
    height: 200px;
    width: 600px;
    padding-top: 1px;
    border: none;
    margin: 0;
}

div.boxes {
    display: flex;
    flex-wrap: wrap;
}

.Resort {
    height: 450px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 1% 1% 1% 1%;
    break-inside: avoid;
}

.Resort:hover {
    background-color: black;
    transition: 1.00s ease-in;
}

.Resort:hover h1 {
    color: white;
    transition: 1.00s ease-in;
}

.Resort:hover .diff_price {
    color: white;
    transition: 1.00s ease-in;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5rem;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: relative;
        background-color: black;
        padding: 10px;
    }
    .navigation a {
        color: white;
        display: inline;
        padding-right: 30px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }
    .boxes {
        justify-content: center;
    }

    form
    {
        width: 80%;
        margin-left: 3%;
    }

    .formRow input
    {
    width: 75%;
    height: 20px;
    display: block;
    }

    legend
    {
        padding: 1.5%;
        width: 75%;
    }

    #destination-selector
    {
    width: 55%;
    height: 20px;
    }

    #viewAct
    {
    width: 20%;
    height: 20px;
    }

    #actList
    {
    padding-top: 1%;
    font-size: 92%;
    width: 75%;
    }

    #submit, #clear
    {
    margin-bottom: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    width: 12%;
    height: 35px;
    background-color: lightblue;
    }
}